@model QLBanPhanMem.Models.PhanMemModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PhanMemModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TENPM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TENPM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MOTA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MOTA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NGAYPHATHANH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NGAYPHATHANH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.THOIHAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.THOIHAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DONVITHOIHAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DONVITHOIHAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DONGIA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DONGIA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SOLUONG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SOLUONG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HINHANH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HINHANH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaPhatHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaPhatHanh.TENNPH)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.email != null)
    {
        <a href="@Url.Action("AddToCart", "Cart", new { productId = Model.MAPM })" class="btn btn-dark" id="liveToastBtn">Thêm vào giỏ</a>
        @* <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.MAPM">Add to cart</a> *@
        <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="..." class="rounded me-2" alt="...">
                    <strong class="me-auto">Bootstrap</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    }
    else
    {
        <a asp-action="SignIn" asp-controller="Account">Add to cart</a>
    })
    <a asp-action="Edit" asp-route-id="@Model?.MAPM">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/snippets.js"></script>
