@model IEnumerable<QLBanPhanMem.Models.PhanMemModel>
@{
    ViewData["Title"] = "Tất cả sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/productIndex.css" rel="stylesheet" />
<br/>
<div class="filter-container">
    <div>
<<<<<<< Updated upstream
        <select class="form-select" aria-label="Default select example" id="nhaphathanh" style="width:130px" name="manph" asp-items="@ViewBag.PublisherList">
=======
        <select class="form-select" aria-label="Default select example" id="nhaphathanh" style="width:130px" name="manph" asp-items="@ViewBag.PublisherList" >
>>>>>>> Stashed changes
            <option value="">Nhà phát hành</option>
        </select>
    </div>

    <div>
<<<<<<< Updated upstream
        <select class="form-select" aria-label="Default select example" id="theloai" style="width:130px" name="manph" asp-items="@ViewBag.LoaiPMList">
=======
        <select class="form-select" aria-label="Default select example" id="theloai" style="width:130px" name="manph" asp-items="@ViewBag.LoaiPMList" >
>>>>>>> Stashed changes
            <option value="">Thể loại</option>
        </select>
    </div>

    <div>
        <form style="display: flex;">
            <div class="input-group mb-3" style="width:150px; margin-left:20px;">
                <input type="number" id="min" name="min" class="form-control" placeholder="Giá từ" aria-label="Giá từ">
            </div>
            <div class="input-group mb-3" style="width:150px; margin-left:20px;">
                <input type="number" id="max" name="max" class="form-control" placeholder="Đến" aria-label="Đến">
            </div>
<<<<<<< Updated upstream
=======
            
            
>>>>>>> Stashed changes
        </form>
    </div>
    <div>
        <select style="width:130px" class="form-select" id="SortDrop">
            <option value="">Sắp xếp</option>
            <option value="1">Giá tăng dần</option>
            <option value="2">Giá giảm dần</option>
            <option value="3">Tên A-Z</option>
            <option value="4">Tên Z-A</option>
            <option value="6">Cũ nhất</option>
            <option value="5">Mới nhất</option>
        </select>
    </div>
<<<<<<< Updated upstream
    <div class="input-group mb-3" style="width:150px; margin-left:20px;">
        <button style="height:35px;" type="button" id="FilterButton" class="btn btn-primary">Lọc</button>
    </div>
</div>

<script>
    // Xử lý sự kiện khi nút "Lọc" được nhấn
=======
    <!-- Thêm một id cho nút "Lọc" (ở đây tôi đặt id="filterButton") -->
    <div class="input-group mb-3" style="width:150px; margin-left:20px;">
        <button style="height:35px;" type="button" id="FilterButton" class="btn btn-primary">Lọc</button>
    </div>

</div>
<script>
    // Xử lý sự kiện khi nút "Lọc và Sắp xếp" được nhấn
>>>>>>> Stashed changes
    document.getElementById("FilterButton").addEventListener("click", function () {
        var selectedPublisher = $('#nhaphathanh').val();
        var sortValue = $('#SortDrop').val();
        var minPrice = $('#min').val();
        var maxPrice = $('#max').val();
        var type = $('#theloai').val();
        var filterUrl = "/Product/Index";
<<<<<<< Updated upstream
        var filters = [];
        if (selectedPublisher) {
            filters.push("search=" + selectedPublisher);
        }
        if (sortValue) {
            filters.push("SortColumn=" + sortValue);
        }
        if (minPrice) {
            filters.push("min=" + minPrice);
        }
        if (maxPrice) {
            filters.push("max=" + maxPrice);
        }
        if (type) {
=======

        var filters = [];

        if (selectedPublisher) {
            filters.push("search=" + selectedPublisher);
        }

        if (sortValue) {
            filters.push("SortColumn=" + sortValue);
        }

        if (minPrice && maxPrice) {
            filters.push("min=" + minPrice);
            filters.push("max=" + maxPrice);
        }
        if(type)
        {
>>>>>>> Stashed changes
            filters.push("type=" + type);
        }
        if (filters.length > 0) {
            filterUrl += "?" + filters.join("&");
        }

        window.location.href = filterUrl;
    });
</script>

<h1>Duyệt qua danh mục sản phẩm</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card" onclick="navigateToLink('/Product/Details/@Html.DisplayFor(modelItem => item.MAPM)')">
            <img src="~/image/demo.jpg" class="card-img-top" alt="...">
            <div class="card-body">               
                <p class="card-text">@Html.DisplayFor(modelItem => item.TENPM)</p>
                <p class="card-text"><b>@Html.DisplayFor(modelItem => item.DONGIA) ₫</b></p>
            </div>
        </div>
    }
    <script>
        function navigateToLink(link) {
            window.location.href = link;
        }
    </script>
</div>
<div class="pagination-container">
    <nav aria-label="">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="/Product/Index?page=1">Đầu</a>
            </li>


            @for (int i = 0; i < ViewBag.TotalPage; i++)
            {
                <li class="page-item"><a class="page-link" href="/Product/Index?page=@(i+1)">@(i + 1)</a></li>

            }

            <li class="page-item">
                <a class="page-link" href="/Product/Index?page=@ViewBag.End">Cuối</a>
            </li>
        </ul>
    </nav>
</div>

