@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLBanPhanMem</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    @*   <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css"
    rel="stylesheet" /> *@
    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @*     <link rel="stylesheet" href="~/QLBanPhanMem.styles.css" asp-append-version="true" />
    *@
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />

</head>
<body>

<<<<<<< Updated upstream
    <header class="header">
        <div class="grid">
            <nav class="header_navbar">
                <ul class="header_navbar_list">
                    <li class="header_navbar_item">
                        <a href="/Home/Index/" class="header_navbar_item_link">Home </a> |
                    </li>

                    <li class="header_navbar_item">
                        <a href="" class="header_navbar_item_link">Giới thiệu</a>
                    </li>
                </ul>

                <ul class="header_navbar_list">
                    <li class="header_navbar_item">
                        Tư vấn
                    </li>
                </ul>
            </nav>

            <div class="header_search">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/image/Logo.jpg" width="50px" />
                </a>

                <form class="search_box" action="/Product/Index/">
                    <input class="search_input" type="text" id="search" name="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search" style="">
                    <i class='bx bx-search-alt-2'></i>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            // Chọn biểu tượng sử dụng lớp CSS
                            var iconSearch = document.querySelector('.bx-search-alt-2');

                            // Chọn form sử dụng thuộc tính form của input
                            var form = document.querySelector('form');

                            // Thêm sự kiện click vào biểu tượng
                            iconSearch.addEventListener('click', function (e) {
                                e.preventDefault(); // Ngăn chặn hành vi mặc định của nút (nếu có)
                                form.submit(); // Gửi form
                            });
                        });
                    </script>
                </form>

                <div class="header_icons">
                    @if (@ViewBag.giohang == null)
                    {
                        <a class="icon" asp-action="Index" asp-controller="Cart"><i class='bx bx-cart'></i> Giỏ hàng</a>
                    }
                    else
                    {
                        <a class="icon" asp-action="Index" asp-controller="Cart"><i class='bx bx-cart'></i> Giỏ hàng(@ViewBag.giohang)</a>
                    }

                    @{
                        if (ViewBag.email == null)
                        {
                            <a class="icon" asp-area="" asp-controller="Account" asp-action="SignIn">
                                <i class='bx bxs-user-circle'></i>Đăng nhập
                            </a>
                        }
                        else
                        {
                            <a class="icon" asp-area="" asp-controller="Account" asp-action="SignOut">
                                <i class='bx bxs-user-x'></i>Xin chào @ViewBag.email, Đăng xuất
                            </a>

                            <a class="icon" href="/Account/Edit/@ViewBag.uid">
                                <i class='bx bxs-user-detail'></i> Cập nhật thông tin
                            </a>
                        }
                    }
=======
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Tất cả phần mềm</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" style="display:flex;text-align:left" action="/Product/Index/">
                                <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search" style="margin-right:5px">
                                <button class="btn btn-outline-success" type="submit" value="Tìm kiếm"><span class="material-symbols-outlined">search</span></button>
                            </form>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav">
                        @{
                            if (ViewBag.email == null)
                            {
                                <li class="nav-item">
                                    <button type="button" class="btn btn-light btn-sm"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignIn">Đăng nhập</a></button>
                                    
                                </li>
                            }
                            else
                            {
                                
                                <div class="dropdown-center">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                       @ViewBag.email
                                    </button>
                                    <ul class="dropdown-menu">
                                        
                                        <li><a class="dropdown-item text-dark" href="/Account/Edit/@ViewBag.uid">Cập nhật thông tin</a></li>
                                        <li><a class="dropdown-item text-dark" href="/Account/History/@ViewBag.uid">Lịch sử đơn hàng</a></li>
                                        <li> <a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword">Đổi mật khẩu</a></li>
                                        <li> <a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">Đăng xuất</a></li>
                                        
                                    </ul>
                                </div>
                            }
                        }
                        <li class="nav-item">
                            @if(@ViewBag.giohang==null)
                            {
                                <button type="button" class="btn btn-light btn-sm"><a class="nav-link text-dark" asp-action="Index" asp-controller="Cart">Giỏ hàng</a></button>
                            
                            }
                            else
                            {
                                <button type="button" class="btn btn-success btn-sm"><a class="nav-link text-dark" asp-action="Index" asp-controller="Cart">Giỏ hàng(@ViewBag.giohang)</a></button>
                            
                            }
                        </li>
                        
                    </ul>
                    
>>>>>>> Stashed changes

                </div>
            </div>


        </div>


    </header>

    @* <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image/logo.jpg" width="70px"/></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li class="nav-item">
    <form class="form-inline" style="display:flex;text-align:left" action="/Product/Index/">
    <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="Tìm kiếm sản phẩm" aria-label="Search" style="margin-right:5px">
    <button class="btn btn-outline-success" type="submit" value="Tìm kiếm"><span class="material-symbols-outlined">search</span></button>
    </form>
    </li>
    </ul>

    <ul class="navbar-nav">
    @{
    if (ViewBag.email == null)
    {
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignIn">Đăng nhập</a>
    </li>
    }
    else
    {
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">Xin chào @ViewBag.email, Đăng xuất</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" href="/Account/Edit/@ViewBag.uid">Cập nhật thông tin</a>
    </li>
    }
    }
    <li class="nav-item">
    @if(@ViewBag.giohang==null)
    {
    <a class="nav-link text-dark" asp-action="Index" asp-controller="Cart">Giỏ hàng</a>
    }
    else
    {
    <a class="nav-link text-dark" asp-action="Index" asp-controller="Cart">Giỏ hàng(@ViewBag.giohang)</a>
    }
    </li>

    </ul>
    <div class="dropdown-center">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Centered dropdown
    </button>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Action two</a></li>
    <li><a class="dropdown-item" href="#">Action three</a></li>
    </ul>
    </div>

    </div>
    </div>
    </nav>
    </header> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<<<<<<< Updated upstream
    <footer class="footer">
        &copy; 2023 - QLBanPhanMem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

=======
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Quản lý cửa hàng phần mềm - Ứng dụng khách - <a asp-area="" asp-controller="Home" asp-action="Privacy">Quyền riêng tư</a>
        </div>
>>>>>>> Stashed changes
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
